
.board {
    border: solid 3px black;
    font-weight: bold;
    font-size: 400%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightcyan;
    border-collapse:collapse;
}
.board td{
    border: dotted 1px black;
    text-align: center;
    width:20%;
}
body {
   text-align: center;
    background-color: aqua;
    
}
.word-form {

    display: inline-block;
}